  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap');
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  
  * {
      padding: 0;
      margin: 0;
      font-family: 'poppins', sans-serif;
      /* box-sizing: border-box; */
  }
  
   :root {
      ---body-color: #efefef;
      --nav-color: #1876f2;
      --bg-color: #fff;
  }
  
  .dark-theme {
      ---body-color: #0a0a0a;
      --nav-color: #000;
      --bg-color: #000;
  }
  
  body {
      background: var(---body-color);
      transition: background 0.2s;
  }
  
  nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--nav-color);
      padding: 5px 5%;
      position: fixed;
      z-index: 100;
      width: 90%;
  }
  
  .Logo {
      width: 160px;
      margin-right: 45px;
  }
  
  .nav-left,
  .nav-right {
      display: flex;
      align-items: center;
  }
  
  .nav-left ul li {
      list-style: none;
      display: inline-block;
  }
  
  .nav-left ul li img {
      width: 28px;
      margin: 0 15px;
  }
  /* .nav-left ul {
      display: flex;
      flex-wrap: none;
  }
   */
  
  .nav-user-icon img {
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
  }
  
  .search-box {
      background: #efefef;
      width: 350px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      border: 2px solid var(--bg-color);
  }
  
  .search-box img {
      width: 13px;
  }
  
  .search-box input {
      width: 100%;
      background: transparent;
      padding: 10px;
      outline: none;
      border: 0s;
      border: 1px var(--bg-color);
  }
  
  nav .nav-user-icon {
      margin-left: 30px;
  }
  
  .online {
      position: relative;
  }
  
  .online::after {
      content: " ";
      width: 7px;
      height: 7px;
      border: 2px solid var(--bg-color);
      border-radius: 50%;
      background: #41db51;
      position: absolute;
      top: 0;
      right: 0;
  }
  
  .container {
      display: flex;
      justify-content: space-between;
      padding: 13px 5%;
      padding-top: 100px;
  }
  
  .left-side-bar {
      flex-basis: 25%;
      position: sticky;
      top: 70px;
      align-self: flex-start;
  }
  
  .right-side-bar {
      flex-basis: 20%;
      position: sticky;
      top: 0px;
      align-self: flex-start;
      padding: 20px;
      border-radius: 4px;
      background: var(---body-color);
      color: #626262;
  }
  
  .main-containe {
      flex-basis: 47%;
  }
  
  .imp-links a,
  .shortcut-links a {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      color: #626262;
      width: fit-content;
  }
  
  .imp-links a img {
      width: 25px;
      margin-right: 15px;
  }
  
  .imp-links a:last-child {
      color: #1876f2;
  }
  
  .imp-links {
      border-bottom: 1px solid #41db51;
  }
  
  .shortcut-links a img {
      width: 40px;
      border-radius: 4px;
      margin-right: 15px;
  }
  
  .shortcut-links p {
      margin: 25px 0;
      color: #626262;
      font-weight: 500;
  }
  
  .side-bar-tittle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;
  }
  
  .side-bar-tittle h4 {
      font-weight: 600;
      font-size: 16px;
  }
  
  .side-bar-tittle a {
      text-decoration: none;
      color: #1876f2;
      font-size: 12px;
  }
  
  .events {
      display: flex;
      font-size: 14px;
      margin-bottom: 20px;
  }
  
  .left-event {
      border-radius: 10px;
      height: 65px;
      width: 70px;
      margin-right: 15px;
      padding-top: 10px;
      text-align: center;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .events p {
      font-size: 12x;
  }
  
  .events a {
      font-size: 12px;
      text-decoration: none;
      color: #1876f2;
  }
  
  .left-event span {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #1876f2;
      color: var(--bg-color);
      font-size: 15px;
      padding: 4px 0;
  }
  
  .side-bar-adds {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 4px;
  }
  
  .online-list {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }
  
  .online-list .online img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
  
  .online-list .online {
      width: 40px;
      border-radius: 50%;
      margin-right: 15px;
  }
  
  .online-list .online::after {
      top: unset;
      bottom: 5px;
      right: -5px;
  }
  
  .story-gallery {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }
  
  .story {
      flex-basis: 18%;
      padding-top: 32%;
      position: relative;
      background: linear-gradient(transparent, rgba( 0, 0, 0, 0.5)), url(./images/DSC_0154.JPG);
      background-position: center;
      background-size: cover;
      border-radius: 10px;
  }
  
  .story {
      position: relative;
      width: 45px;
      top: 10px;
      left: 10px;
      border: 2px solid #1876f2;
      justify-content: center;
  }
  
  .story2 {
      background: linear-gradient(transparent, rgba( 0, 0, 0, 0.5)), url(./images/status-2.png);
      background-position: center;
      background-size: cover;
  }
  
  .story3 {
      background: linear-gradient(transparent, rgba( 0, 0, 0, 0.5)), url(./images/status-3.png);
      background-position: center;
      background-size: cover;
  }
  
  .story4 {
      background: linear-gradient(transparent, rgba( 0, 0, 0, 0.5)), url(./images/status-4.png);
      background-position: center;
      background-size: cover;
  }
  
  .story5 {
      background: linear-gradient(transparent, rgba( 0, 0, 0, 0.5)), url(./images/status-5.png);
      background-position: center;
      background-size: cover;
  }
  
  .story img {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 0;
      border-radius: 50%;
      border: 3px solid #1876f2;
  }
  
  .story p {
      position: absolute;
      bottom: 5px;
      width: 100%;
      align-items: center;
      text-align: center;
      color: var(--bg-color);
      font-size: 15px;
  }
  
  .story.story1 img {
      top: unset;
      left: 50%;
      bottom: 40px;
      transform: translate(-50%);
      border: 0;
      width: 35px;
      height: 30px;
  }
  
  .write_post_container {
      background: var(--bg-color);
      border-radius: 6px;
      padding: 20px;
      color: #626262;
  }
  
  .user_profile {
      display: flex;
      align-items: center;
      width: 35px;
  }
  
  .user_profile img {
      width: 45px;
      border-radius: 50%;
      margin-right: 10px;
  }
  
  .user_profile p {
      margin-bottom: -5px;
      font-weight: 500;
      color: #626262;
  }
  
  .user_profile small {
      font-size: 12px;
  }
  
  .post-input-container {
      padding-left: 55px;
      top: 20px;
  }
  
  .post-input-container textarea {
      width: 100%;
      border: none;
      outline: 0;
      border-bottom: 1px solid #ccc;
      background: transparent;
      color: black;
      resize: none;
  }
  
  .add-post-links {
      display: flex;
      margin-top: 10px;
  }
  
  .add-post-links a {
      text-align: none;
      display: flex;
      align-items: center;
      color: #626262;
      margin-right: 30px;
      font-size: 13px;
      text-decoration: none;
  }
  
  .add-post-links a img {
      width: 20px;
      margin-right: 10px;
  }
  
  .write-post-container {
      width: 100%;
      background: var(--bg-color);
      border-radius: 6px;
      padding: 20px;
      color: #626262;
      margin: 20px 0;
  }
  
  .post-container {
      background: var(--bg-color);
      border-radius: 6px;
      padding: 20px;
      color: #626262;
      margin: 20px 0;
  }
  
  .post-container .user_profile div {
      font-size: 13px;
      color: #9a9a9a;
  }
  
  .post-text {
      color: #9a9a9a;
      margin: 15px 0;
      font-size: 15px;
  }
  
  .post-text span {
      color: #626262;
      font-weight: 500;
  }
  
  .post-text a {
      color: #1876f2;
      text-decoration: none;
  }
  
  .post-img {
      width: 100%;
      border-radius: 4px;
      margin-bottom: 5px;
  }
  
  .post-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .activity-icons {
      display: flex;
  }
  
  .activity-icons div img {
      width: 18px;
      margin-right: 10px;
  }
  
  .activity-icons div {
      display: flex;
      align-items: center;
      margin-right: 30px;
  }
  
  .post-profile-icon {
      display: flex;
      align-items: center;
  }
  
  .post-profile-icon img {
      width: 20px;
      border-radius: 50%;
      margin-right: 5px;
  }
  
  .post-row a {
      color: #9a9a9a;
  }
  
  .Load-more-btn {
      display: block;
      margin: auto;
      cursor: pointer;
      padding: 5px 10px;
      border: 1px solid #9a9a9a;
      color: #626262;
      background: transparent;
      border-radius: 4px;
  }
  
  .footer {
      text-align: center;
      color: #9a9a9a;
      padding: 10px 0 20px;
      font-size: 13px;
  }
  
  .setting-menu {
      position: absolute;
      width: 90%;
      max-width: 350px;
      background: var(--bg-color);
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
      overflow: hidden;
      top: 108%;
      right: 5%;
      max-height: 0;
      transition: max-height 0.3s;
  }
  
  .setting-menu-height {
      max-height: 450px;
  }
  
  .user_profile .profile-link {
      white-space: nowrap;
  }
  
  .user_profile .profile-link a {
      display: inline-block;
  }
  
  .setting-menu .user_profile a {
      font-size: 12px;
      color: #1876f2;
      text-decoration: none;
  }
  
  .settingsmenu-inner {
      padding: 20px;
  }
  
  .setting-menu hr {
      border: 0;
      height: 1px;
      background: #9a9a9a;
      margin: 15px 0;
  }
  
  .settings-link {
      display: flex;
      align-items: center;
      margin: 15px 0;
  }
  
  .settings-link .settings-icon {
      width: 38px;
      margin-right: 10px;
      border-radius: 50%;
  }
  
  .settings-link a {
      display: flex;
      flex: 1;
      align-items: center;
      text-decoration: none;
      justify-content: space-between;
  }
  
  #dark_btn {
      position: absolute;
      top: 20px;
      right: 20px;
      background: #c6aaaa;
      width: 40px;
      border-radius: 15px;
      padding: 2px 3px;
      display: flex;
      cursor: pointer;
      transition: padding-left 0.5s, background 0.5s;
  }
  
  #dark_btn span {
      width: 18px;
      height: 18px;
      background: #fff;
      border-radius: 50%;
      display: inline-block;
  }
  
  #dark_btn.dark-btn-on {
      padding-left: 23px;
      background: #41404093;
      width: fit-content;
  }
  
  .nav-left ul {
      display: flex;
      flex-wrap: nowrap;
  }
  
  @media screen and (max-width:748px) {}